body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
}

.content{
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 3px gray;
    padding: 14px;
    display: grid;
    grid-template-rows: 50px 1fr 225px;
    width: 600px;
    justify-items:start;
}

.add{
    border: 0;
    font-size: 24px;
    color: antiquewhite;
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-self: end;
    align-self: end;
    margin: 10px;
    cursor: pointer;
}

.from{
    display: grid;
    grid-row: 1fr 1fr 1fr 2fr 25px;
    padding: 5px;
    margin: 5px;
    border: 0px solid cornflowerblue;
    background-color: rgba(100, 149, 237, .5);
    border-radius: 5px;
    width: 95%;
    row-gap: 3px;
}

.from-item{
    padding: 4px;
    display: grid;
    grid-template-columns: 125px 1fr;
    justify-items: start;
    align-items: start;
}

.from-item:last-child{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
}

#des{
    resize: none;
    height: 50px;
}

#add{
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 40px;
    margin-right: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    padding: 10px;
    margin: 10px;
    gap: 3px;
    width: 100%;
}

.item{
    display: grid;
    padding: 5px;
    padding-left: 8px;
    background-color: rgba(100, 149, 237, .5);
    border-radius: 10px;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 50px 20px 1fr;
    row-gap: 3px;
    height: 200px;
    width: 250px;
}

.title{
    align-self: center;
}

.item button{
    text-align: center;
    border: 0;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    color: red;
    border-radius: 50%;
    font-weight: 700;
}

.date{
    grid-column: 1/3;
    color: crimson;
    font-size: 18px;
    align-self: center;
}

.des{
    grid-column: 1/3;
}